<header class="container-fluid border-top border-secondary">
  <h3>Type in a Note and Press Enter to Add it</h3>
</header>
<section class="container-fluid">
  <app-input-note (noteToList)="addNote($event)"></app-input-note>
  <div><h5>Note List</h5>
    <div class="text-center" *ngIf="notes.length===0">Add some notes to se them here</div>
    <ul class="list-group">
      <app-note-item *ngFor="let note of notes" [note]="note" (noteToTrash)="deleteNote($event)"></app-note-item>
    </ul>
  </div>
</section>
